pkgbase = book-bin
	pkgdesc = Simple bookmark manager written in go
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/m4rti21/book
	arch = x86_64
	noextract = book-bin
	options = !debug
	source = https://github.com/m4rti21/book-bin/releases/download/0.2/book-bin
	sha256sums = SKIP

pkgname = book-bin
